@model IEnumerable<Attendant.Models.AttendantModel>

@{
    ViewData["Title"] = "Attendants";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Attendant</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="searchForm" asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Month</p>
                                <select name="month" id="monthSelect"
                                        asp-items="@(new SelectList(Enumerable.Range(1, 12).Select(m => new { Value = m, Text = m.ToString() }), "Value", "Text", ViewBag.SelectedMonth))"
                                        class="form-control">
                                    <option value="">Select Month</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <p>Year</p>
                                @* Display from current year - 7 years to current year *@
                                <select name="year" id="yearSelect"
                                        asp-items="@(new SelectList(Enumerable.Range(DateTime.Now.Year - 7, 8).Select(y => new { Value = y, Text = y.ToString() }), "Value", "Text", ViewBag.SelectedYear))"
                                        class="form-control">
                                    <option value="">Select Year</option>
                                </select>
                            </div>
                        </div>
                        <input type="submit" value="Search" class="btn btn-primary mt-3" />
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ShopCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AttendantDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeCode)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        // Filter data based on selected month and year
                        var filteredModel = Model.Where(item => item.AttendantDate.HasValue && 
                                                                item.AttendantDate.Value.Month == (int?)ViewBag.SelectedMonth && 
                                                                item.AttendantDate.Value.Year == (int?)ViewBag.SelectedYear);

                        @foreach (var item in filteredModel)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShopCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AttendantDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeCode)
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">No data available.</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a asp-action="ExportJsonToXls" asp-route-month="@ViewBag.SelectedMonth"
                   asp-route-year="@ViewBag.SelectedYear" class="btn btn-outline-secondary">Export</a>
                <a asp-action="ExportAttendantsXlsxByDay" asp-route-month="@ViewBag.SelectedMonth"
                   asp-route-year="@ViewBag.SelectedYear" class="btn btn-success">Export</a>
            </p>
        </div>
    </div>
</div>
